# Backend
backend/.env
backend/.venv/
**/__pycache__/
backend/*.wav
backend/*.mp3

# Extension
extension/node_modules/
extension/out/
extension/dist/
extension/*.vsix

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
